server:
  port: 9080
spring:
  application:
    name: UniBoost
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://${DB_HOST:127.0.0.1}:${DB_PORT:5432}/${DB_NAME:postgres}?currentSchema=${DB_SCHEMA:public}
    username: ${DB_USERNAME:postgres}
    password: ${DB_PASSWORD:postgres}
  sql:
    init:
      mode: never
      encoding: utf-8
  jpa:
    hibernate:
      ddl-auto: validate
      naming:
        implicit-strategy: org.hibernate.boot.model.naming.ImplicitNamingStrategyComponentPathImpl
  flyway:
    enabled: true
    baseline-on-migrate: true
  mail:
    host: localhost
    port: 2525
    username:
    password:
    properties:
      mail:
        smtp:
          auth: false
          starttls:
            enable: false

reset-password-request:
  domain: http://localhost:4200/reset-password/

security:
  secret-key: ce262ef8f8b908b1c3fd9015420086a21215bb008ac8558c64f3cd9806d4531c
  jwt-expiration: 86400000
  refresh-expiration: 604800000

